.wrapperHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    padding: 0 10px 0 10px;
    width: 1004px;
}
.wrapperInput {
    display: flex;
    align-items: center;
    position: relative;
}

.wrapperMovies {
    display: flex;
    flex-direction: column;
    min-height: 476px;
    
}

.input {
    position: absolute;
    transition: none;
    width: 500px;
    left: 75px;
}


.pagination {
    display: flex;
    justify-content: center;
    width: 990px;
}

.emptyData {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 468px;
    height: 293px;
    padding-top: 50px;
    img {
        width: 310px;
        padding-bottom: 16px;
    }
    span {
        font-weight: 600;
        font-size: 20px;
        line-height: 24.2px;
    }
}

.searchButton {
    position: relative;


  }