.container {
    display: flex;
    padding: 24px;
    align-items: flex-start;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 12px;
    width: 800px;

    &:first-child {
      margin-bottom: 20px;
    }
  }

.columnContainer {
  flex-direction: column;
}

  .imageContainer {
    width: 250px;
    height: 352px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .movieContainer {
    display: flex;
    flex-grow: 1;
  }

  .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 116px;
    margin-left: 24px;
    max-width: 600px;
  }

  .title {
    display: block;
    color: #9854F6;
    font-weight: 600;
    font-size: 20px;
    line-height: 24.16px;
    margin-bottom: 8px;
  }

  .year {
    display: block;
    color: #7B7C88;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 8px;
  }

  .ratingContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
  }

  .average {
    line-height: 20px;
    font-size: 16px;
    font-weight: 600;
    margin-right: 4px;
  }

  .greyText {
    line-height: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #7B7C88;
  }

  .listContainer {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .listOption {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 1px;
    }
  }

  .label {
    display: block;
    width: 140px;
  }

  .optionValue {
    color: #000;
  }

  .ratingStarContainer {
    flex-shrink: 0;
    display: flex;
    gap: 4px;
    align-items: center;

    span {
      display: block;
      font-size: 16px;
      line-height: 20px;
      font-weight: 600;
    }
  }

  .infoTitle {
    display: block;
    color: #000;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 16px;
  }

.trailerContainer {
  width: 100%;
  flex:1;
}

  .trailer{
    border: 3px solid var(--background-navbar);
    border-radius: 9px;
    width: 500px;
    height: 281px;
  }

  .divider {
    flex-grow: 1;
    width: 100%;
  }

  .descriptionContainer {
    width: 100%;
    flex:1;
  }

  .descriptionText {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
  }

  .productionOption {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }
  .company {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0.5px solid #F1F1F1;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

.companyText {
  display: block;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #000;
}