@import 'src/style/variables/mixins.scss';

.layout {
    display: flex;
    flex-direction: row;

    @include max-md {
        flex-direction: column;
    }
}

.main {
    min-height: 100vh;
    @include max-md {
        max-width: 100%;
    }}